@tailwind base;

body {
  min-height: 100vh;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#main {
  flex: 1;
}

* {
  @apply text-white;
  font-family: 'Heebo', sans-serif;
  transition: all .05s ease-in-out;
}

p {
  @apply text-xl;
}

:root {
  --gradient-angle: 0deg;
}

.gradient-text {
  transition: all .15s ease-in-out;
  background: linear-gradient(var(--gradient-angle), white 50%, theme('colors.gray.900') 50%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.post-content {
  p,
  ul,
  ol {
    @apply mb-6;
  }

  h2 {
    @apply text-3xl font-semibold mb-2;
  }
}

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
