@import "font-public-sans.css";
@tailwind base;

body {
  min-height: 100vh;
}

#main {
  flex: 1;
}

#slice {
  position: fixed;
  width: 100%;
  height: calc(100% + 100px);
  min-height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(63deg, theme('colors.gray.100') 31%, theme('colors.white') 0);
  z-index: 0;
  transition: height .5s;
}

#__next {
  @apply flex flex-col relative;
  min-height: 100vh;
  z-index: 1;
}

* {
  @apply text-gray-700 tracking-tight;
  font-family: 'Public Sans', sans-serif;
  transition: all .05s ease-in-out;
}

p {
  @apply text-xl;
}

:root {
  --gradient-angle: 0deg;
}

.gradient-text {
  transition: all .15s ease-in-out;
  background: linear-gradient(var(--gradient-angle), theme('colors.gray.500') 50%, theme('colors.gray.700') 50%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.post-content {
  p,
  ul,
  ol,
  li,
  pre,
  code,
  span {
    @apply mb-6 font-normal text-xl;
  }

  ul {
    @apply list-disc pl-6;
  }

  h2 {
    @apply text-3xl font-semibold mb-2;
  }

  .remark-highlight {
    @apply mb-6;
  }

  code[class*="language-"], pre[class*="language-"], code[class*="language-"] *, pre[class*="language-"] * {
    @apply text-xl;
    font-style: inherit;
    font-family: 'Public Sans', sans-serif;
    font-weight: inherit;
  }

  :not(pre) > code[class*="language-"], pre[class*="language-"] {
    @apply bg-gray-800;
  }
}

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
